/* общие стили */
@font-face {
	font-family: 'ptsansnarrowbold';
	font-style: normal;
	font-weight: 700;
	src: local('ptsansnarrowbold'), local('ptsansnarrow'),
	url('fonts/ptsansnarrow.woff') format('woff'), /* Super Modern Browsers */
	url('fonts/ptsansnarrow.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/ptsansnarrowbold.woff') format('woff'), /* Modern Browsers */
	url('fonts/ptsansnarrowbold.woff2') format('woff2'); /* Modern Browsers */
}
/* две точки - это выход на директорию выше, родительская директория. а они на одном уровне. либо одна точка (текущая директория), либо сразу название папки. */
/* а ещё ты разные начертания подключаешь в зависимости от формата */
/* а ещё нет такого шрифта, ptsansnarrowbold, есть PT Sans Narrow (точнее см. например в фотошопе)*/

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

body {
	margin: 0;
	background-color: #141414;
	background-position: center top;
	background-image: url("img/background-2.jpg");
	background-repeat: repeat;
	text-transform: uppercase;
	font-family: 'ptsansnarrowbold', sans-serif;
	font-size: 14px;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.visually-hidden {
	display: none;
}

.btn {
	background-color: #000000;
	color: #FFFFFF;
	text-decoration: none;
}

/* временные стили */

body > * {
	outline: 3px dotted red;
}

body > * > * {
	outline: 3px dotted green;
}

body > * > * > * {
	outline: 3px dotted blue;
}

/* хедер страницы */

.main-header {
	min-width: 960px;
	background-color: #000000;
	background-image: url("img/pattern.jpg");
	background-repeat: repeat;
	color: #FFFFFF;
	font-size: 16px;
}

.main-header a,
.running-menu {
	color: #FFFFFF;
	display: inline-block;
	padding: 27px 0;
	margin-left: 20px;
	margin-right: 20px;
	text-decoration: none;
}

.main-header .running-menu {
	padding-bottom: 32px;
	border-bottom: 5px solid white;	
}

.main-header ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.main-header-inner {
	
}

.main-navigation {
	float: left;
}

.main-navigation li {
	float: left;
}

.user-nav {
	float: right;
}

/* основное содрежимое */

.main-content {
	min-width: 960px;
}

.page-title {
	margin: 56px 10px 0px;
	padding: 0;
	font-size: 30px;
}

.breadcrumb {
	margin: 30px 10px 45px;
	padding: 0;	
	list-style-type: none;	
}

.breadcrumb li {
	display: inline-block;	
	margin-right: 45px;
}

.breadcrumb a {
	color: #000000;
	text-decoration: none;
	padding: 15px 0;	
}

.breadcrumb .running-page {
	color: #c3c2c1;
}


/*стили item*/

.main-section {
	margin: 0px 10px 50px;
}

.item-photo {
	padding: 0;
	margin: 0;
	width: 460px;
	float: left;
}

.list-photo {
	padding: 0;
	margin: 0;
	margin-top: 18px;
	list-style-type: none;	
}

.list-photo li {
	padding: 0;
	margin: 0;
	float: left;
}

.list-photo li:nth-child(1),
.list-photo li:nth-child(2) {		
	margin-right: 20px;
}

.item-product-information {
	width: 390px;
	float: right;
}

.article {
	color: #c3c2c1;
	float: right;
}

.available {
	float: left;
}

.item-description {
	margin-top: 43px;
}

.item-product-information .item-buy {
	margin-top: 58px;
} 

.item-buy .price {
	padding: 16px 25px;
	background-color: #e5e5e5;
	float: left;
}

.item-buy .btn {
	padding: 16px 20px;
	float: left;
}

.list-title {
	padding: 0;
	margin:0;
	margin-top: 84px;
	font-size: 24px;
}

.item-collection {
	padding: 0;
	margin: 0;
	margin-top: 40px;
	list-style-position: inside;
}

.item-collection li {
	margin-top: 12px;
}

/*стили price*/

.price-title {
	display: block;
	text-align: center;
	padding: 0;
	font-size: 48px;
	margin-bottom: 74px;
	margin-left: 10px;
	margin-right: 10px;
}

.block-1 h2,
.block-2 h2 {
	padding: 0;
	margin: 0;
	margin-bottom: 40px;
	font-size: 24px;
}

.block-1 {
	margin-left: 10px;
	margin-right: 10px;
}

.price-manufacturer {
	padding: 0;
	margin: 0;
	width: 380px;
	float: left;
}

.manufacturer-list {
	padding: 0;
	margin: 0;
	list-style-position: inside;
}

.manufacturer-list li {
	margin-bottom: 26px;
}

.price-catalog {
	padding: 0;
	margin: 0;
	width: 460px;
	float: right;
}

.price-table {
	border-collapse: collapse;
	border: 2px solid black;
	width: 460px;
}

.price-table td {
	border: 2px solid black;
	width: 230px;
	height: 40px;
	padding-left: 18px;
}

.block-2 {
	margin-top: 44px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 84px;*/
}

.left-text {
	padding: 0;
	margin: 0;
	width: 380px;
	float: left;
}

.right-text {
	padding: 0;
	margin: 0;
	width: 380px;
	float: right;
}

/*стили shop*/

.filters {
	float: left;
	width: 230px;
	margin-right: 10px;
}

.shop {
	float: right;
	width: 700px;
}

.shop-checkbox {
	margin-bottom: 54px;
}

.filters h2 {
	padding: 0;
	margin: 0;
	margin-bottom: 36px;
	font-size: 24px;
}

.shop-checkbox label,
.shop-radio label {
	display: block;
	margin-bottom: 26px;
}

.shop-checkbox input,
.shop-radio input {
	margin-right: 25px;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.shop-radio {
	margin-bottom: 50px;
}

.filters .btn {
	padding-left: 33px;
	padding-right: 28px;
	padding-top: 16px;
	padding-bottom: 16px;
	margin: 0;
	border: none;
}

.shop-photos {
	margin-bottom: 61px;
}

.shop-photos article {
	float: left;
	width: 220px;
	height: 286px;
	background-color: #FFFFFF;
}

.shop-photos article:not(:nth-child(3n)) {
	margin-right: 20px;
}

.shop-photos article:not(:nth-last-child(-n+3)) {
	margin-bottom: 20px;
}

.shop-photos h3 {
	text-transform: none;
	margin: 0px;
	padding: 0px;
}

.shop-photos span {
	display: block;
	margin-bottom: 12px;
}

.product-information {
	margin-top: 10px;
	margin-bottom: 16px;
	margin-left: 16px;
	margin-right: 16px;
}

.shop-buy {
	text-align: center;
	margin-bottom: 16px;
}

.shop-buy .product-price {
	float: left;
	margin: 0;	
	padding-top: 14px;
	width: 109px;
	height: 43px;
	background-color: #e5e5e5;
}

.shop-buy .btn {
	float: left;
	padding-top: 16px;
	padding-bottom: 15px;
	padding-left: 17px;
	padding-right: 21px;
}

.page {
	padding: 0;
	margin: 0;
	list-style-type: none;	
}

.page li {
	float: left;
	margin-right: 7px;
	text-align: center;	
}

.page li:nth-child(2) .btn{
	background-color: #ffffff;
	color: #000000;
}

.page a {
	display: inline-block;
	width: 43px;
	height: 43px;
	vertical-align: middle;
	padding-top: 14px;
}

/* футер страницы */

.main-footer {
	min-width: 960px;
	min-height: 190px;
	background-color: #222222;
	background-image: url("img/pattern.jpg");
	background-repeat: repeat;
	color: #FFF;	
}

.footer-contacts {
	float: left;
	width: 320px;
	margin-left: 10px;
	margin-right: 80px;
	margin-top: 63px;
	line-height: 24px;
}

.footer-contacts a {
	color: #FFFFFF;
}

.footer-contacts a.phone {
	text-decoration: none;
}

.footer-social {
	float: left;
	width: 147px;
	margin-top: 63px;
}

.footer-social p {
	margin-top: 0;
	margin-bottom: 20px;
	text-align: center;
}

.footer-social .list {
	list-style-type: none;
	text-decoration: none;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
}

.list li {
	float: left;
}


.list li:nth-child(1),
.list li:nth-child(2) {
	margin-right: 9px;
}

.list a {
	display: inline-block;
	width: 43px;
	height: 43px;
	text-align: center;
	vertical-align: middle;
	padding: 14px 11px;
}

.footer-copyright {
	float: right;
	width: 140px;
	margin-right: 120px;
	margin-top: 63px;
}

.footer-copyright p {
	margin-top: 0;
	margin-bottom: 20px;
	text-align: center;
}

.footer-copyright .btn {
	display: inline-block;
	width: 140px;
	height: 43px;
	background-color: #000000;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	padding-top: 14px;
}


