/* общие стили */
@font-face {
	font-family: 'cuprum';
	font-style: normal;
	font-weight: 400;
	src: local('Cuprum'),
	url('../fonts/web/cuprum.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/web/cuprum.woff') format('woff'); /* Super Modern Browsers */
}

@font-face {
	font-family: 'cuprumbold';
	font-style: normal;
	font-weight: 700;
	src: local('Cuprum'),
	url('../fonts/web/cuprumbold.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/web/cuprumbold.woff') format('woff'); /* Super Modern Browsers */
}

@font-face {
	font-family: 'cuprumbolditalic';
	font-style: italic;
	font-weight: 700;
	src: local('Cuprum'),
	url('../fonts/web/cuprumbolditalic.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/web/cuprumbolditalic.woff') format('woff'); /* Super Modern Browsers */
}

@font-face {
	font-family: 'cuprumitalic';
	font-style: italic;
	font-weight: 400;
	src: local('Cuprum'),
	url('../fonts/web/cuprumitalic.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/web/cuprumitalic.woff') format('woff'); /* Super Modern Browsers */
}

@font-face {
	font-family: 'ptsans';
	font-style: normal;
	font-weight: 400;
	src: local('PT Sans'),
	url('../fonts/web/ptsans.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/web/ptsans.woff') format('woff'); /* Super Modern Browsers */
}

@font-face {
	font-family: 'prsansbold';
	font-style: normal;
	font-weight: 700;
	src: local('PT Sans'),
	url('../fonts/web/ptsansbold.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/web/ptsansbold.woff') format('woff'); /* Super Modern Browsers */
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.clearfix::after {
	display: block;
	content: "";
	clear: both;
}

body {
	background-color: #fff;
	background-position: center top;
	font-family: 'ptsans', 'Arial', sans-serif;
	font-weight: normal;
	font-weight: 400;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.visually-hidden {
	display: none;
}

.hide {
	visibility: hidden;
}

.btn {
	display: inline-block;
	background-color: #ee3643;
	color: #fff;
	text-decoration: none;
	border: none;
	border-radius: 3px;
	font-family: 'cuprum', 'Arial', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.btn:hover {
	background-color: #ca2c37;
	transition: all 0.2s linear;
}

.btn:active {
	background-color: #ba2732;
}

ul {
	list-style-type: none;
	list-style-position: inside;
	margin: 0;
	padding: 0;
}

h2, h3, h4, p, a {
	margin: 0;
	padding: 0;
}

h2, h3 {
	text-transform: uppercase;
}

 a {
 	color: #ffffff;
	text-decoration: none;
 }

.logo {
	display: inline-block;
	background-color: #ee3643;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	font-size: 24px;
	box-shadow: 0 5px 0 #b52933;
	padding: 7px 55px;
}

.not-active {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.logo:hover {
	background-color: #ca2c37;
	box-shadow: 0 5px 0 #9a212a;
	transition: all 0.2s linear;
}

.logo:active {
	background-color: #ba2732;
	box-shadow: 0 5px 0 #8e1e26;
}

.new::after {
	content: 'new';
	position: absolute;
	top: 10px;
	right: 10px;
	background: #ee3643;
	color: #ffffff;
	font-family: 'cuprum', 'Arial', sans-serif;
	font-weight: normal;
	font-weight: 400;
	font-size: 14px;
	padding: 5px 50px;
	transform: translate(50%, 0) rotate(45deg);
	transform-origin: 50% 0;
	pointer-events: none;
}
/* временные стили */

/*body > * {
	outline: 3px dotted red;
}

body > * > * {
	outline: 3px dotted green;
}

body > * > * > * {
	outline: 3px dotted blue;
}

body > * > * > * > * {
	outline: 3px dotted yellow;
}

body > * > * > * > * > *{
	outline: 3px dotted pink;
}

body > * > * > * > * > *{
	outline: 3px dotted brown;
}*/
/* хедер страницы */
.main-header {
	min-width: 960px;
	color: #ffffff;
	font-family: 'cuprum', 'Arial', sans-serif;
	font-weight: normal;
	font-weight: 400;
}

/*верхняя часть хедера*/
.header-top {
	background-color: #293449;
	font-size: 0;
}

.header-top .logo {
	margin-left: 10px;
}

.header-top .bookmark,
.header-top .basket,
.header-top .order,
.header-top .search-form {
	display: inline-block;
	vertical-align: middle;
	font-size: 17px;
}

.header-top .bookmark {
	padding: 11px 30px 11px 58px;
	position: relative;
}

.header-top .basket {
	padding: 11px 33px 11px 40px;
	position: relative;
}

.header-top .basket-full {
	background-color: #ee3643;
}

.header-top .search-form {
	position: relative;
}

.header-top input {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	padding: 11px 50px;
}

.header-top .search-icon {
	display: block;
	width: 20px;
	height: 20px;
	left: 18px;
	top: 10px;
	float: left;
	opacity: 0.5;
	position: absolute;
	background: url('../img/icon-search.png');
	background-repeat: no-repeat;
}

::-webkit-input-placeholder { /* WebKit browsers */
	opacity: 1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	opacity: 1;
}

.header-top .bookmark::before {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	opacity: 0.5;
	left: 28px;
	top: 10px;
}

.header-top .basket::before {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	opacity: 0.5;
	left: 10px;
	top: 10px;
}

.header-top .bookmark::before {
	content: '';
	background: url('../img/icon-bookmark.png');
	background-repeat: no-repeat;
}

.header-top .basket::before {
	content: '';
	background: url('../img/icon-basket.png');
	background-repeat: no-repeat;
}

.header-top input:hover,
.header-top .bookmark:hover,
.header-top .basket:hover {
	background-color: #212a3a;
	transition: all 0.2s linear;
}

[type="search"]:hover ~ .search-icon,
.header-top .bookmark:hover:before,
.header-top .basket:hover:before {
	opacity: 1;
	transition: all 0.2s linear;
}

.header-top input:focus {
	background-color: #ffffff;
	color: #000000;
}

[type="search"]:focus ~ .search-icon {
	background: url('../img/icon-search-active.png');
	background-repeat: no-repeat;
}

.header-top .bookmark:active,
.header-top .basket:active {
	opacity: 0.5;
}

.header-top .order {
	background-color: #63a63e;
	text-align: center;
	padding: 11px 22px;
}

.header-top .order:hover {
	background-color: #5fbb2d;
	transition: all 0.2s linear;
}

.header-top .order:active {
	opacity: 0.5; 
}

/*нижняя часть хедера*/
.header-down {
	background-color: #f1f5f7;
	padding-bottom: 60px;
}

.information {
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 47px;
	margin-bottom: 40px;
}

.information .shop-description,
.information .contact-shop {
	float: left;
}

.information .user-data {
	float: right;
}

.header-down .shop-description {
	color: #ee3643;
	margin-right: 60px;
	font-size: 16px;
	font-family: 'cuprumbolditalic', 'Arial', sans-serif;
	font-style: italic;
	font-weight: 700;
	padding-left: 50px;
	line-height: 1.5;
}

.contact-shop a {
	display: inline-block;
	position: relative;
	color: #eb5b5d;
	border: 3px solid #ffffff;
	padding: 8px 49px 8px 75px;
	font-size: 21px;
}

.contact-shop a::before {
	content: '';
	background: url('../img/icon-phone.png');
	background-repeat: no-repeat;
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	left: 13px;
	top: 10px;
}

.contact-shop address {
	color: #32425c;
	font-size: 14px;
	margin-left: 10px;
	margin-top: 8px;
	font-style: normal;
}

.user-data {
	font-size: 0;
}

.user-data a {
	display: inline-block;
	background-color: #ffffff;
	color: #000000;
	font-size: 21px;
}

.user-data .registration {
	margin-left: 10px;
	padding: 10px 24px;
}

.user-data .enter {
	position: relative;
	padding: 10px 27px 10px 47px;
}

.user-data .enter::before {
	content: '';
	background: url('../img/icon-login.png');
	background-repeat: no-repeat;
	display: block;
	width: 20px;
	height: 17px;
	position: absolute;
	opacity: 0.5;
	left: 14px;
	top: 12px;
}

.user-data .enter:hover {
	color: #ef4350;
	transition: all 0.2s linear;
}

.user-data .enter:hover:before {
	opacity: 1;
	transition: all 0.2s linear;
}

.user-data .registration:hover {
	color: #ef4350;
	transition: all 0.2s linear;
}

.user-data .enter:active {
	color: #000000;
	opacity: 0.5;
}

.user-data .enter:before:active {
	opacity: 0.5;
}

.user-data .registration:active {
	color: #000000;
	opacity: 0.5;
}

.user-cabinet-header {
	float: right;
}

.user-cabinet-header .user {
	background-color: #ffffff;
	position: relative;
	padding: 10px 64px 10px 45px;
}

.user-cabinet-header .user a {
	color: #000000;
	display: inline-block;
	font-size: 21px;
	vertical-align: middle;
}

.user-cabinet-header .user .nickname::before {
	content: '';
	background: url('../img/icon-user.png');
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	opacity: 0.5;
	left: 10px;
	top: 12px;
}

.user-cabinet-header .user .exit::after {
	content:'';
	position: absolute;
	top: 13px;
	right: 11px;
	background: url('../img/icon-logout.png');
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	opacity: 0.5;
}

.user-cabinet-header .user .nickname:hover:before {
	opacity: 1;
	transition: all 0.2s linear;
}

.user-cabinet-header .user .exit:hover:after {
	opacity: 1;
	transition: all 0.2s linear;
}

.user-cabinet-header .user .nickname:active {
	opacity: 0.5;
}

.user-cabinet-header .user .nickname:active:before {
	opacity: 0.5;
}

.user-cabinet-header .user .exit:active:after {
	opacity: 0.5;
}

.user-cabinet-header .user-menu {
	margin-left: 13px;
}

.user-cabinet-header .user-menu li {
	float: left;
	padding-top: 6px;
	list-style-type: disc;
	color: #32425c;
	margin-right: 11px;
}

.user-cabinet-header .user-menu li:first-child {
	list-style-type: none;
}

.user-cabinet-header .user-menu a {
	color: #32425c;
	text-decoration: underline;
	padding-left: 4px;
}

.user-cabinet-header .user-menu a:hover {
	color: #ef767f;
	transition: all 0.2s linear;
}

.user-cabinet-header .user-menu a:active {
	color: #000000;
	opacity: 0.5;
}

.main-navigation {
	background-color: #32425c;
	margin-left: 10px;
	margin-right: 10px;
}

.main-menu {
	margin: 0;
	font-size: 0;
	border-bottom: 5px solid #293449;
	text-align: center;
}

.main-menu li {
	display: inline-block;
	font-size: 17px;
}

.main-menu a {
	display: inline-block;
	padding: 17px 34px;
}

.main-menu a:hover {
	background-color: #293449;
	transition: all 0.2s linear;
}

.main-menu a:active {
	background-color: #1d2739;
	opacity: 0.5;
}

/* основное содрежимое */

/*index.html*/
.main-content {
	min-width: 960px;
}

.main-content h2,
.main-content h3 {
	font-family: 'cuprum', 'Arial', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	color: #000000;
}

.main-content h3 {
	color: #32425c;
}

.category {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 55px;
	margin-top: 60px;
}

.category > article {
	float: left;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	padding: 22px 139px 22px 26px;
}

.category > article:nth-child(2) {
	margin-right: 20px;
}

.category > article:nth-child(3) {
	margin-right: 20px;
}

.category .hammers,
.category .drills {
	width: 620px;
	height: 266px;
	background-color: #cccccc;
	margin-bottom: 0;
}

.category h4 {
	font-family: 'cuprumbold', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	color: #ffffff;
}

.category article .category-btn {
	display: inline-block;
	width: 135px;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.1);
	margin-top: 10px;
	text-transform: uppercase;
	font-family: 'cuprum', 'Arial', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	padding: 12px 0px;
}

.category article .category-btn:hover {
	background-color: rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.2s linear;
}

.category article .category-btn:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.category .materials {
	background: url('../img/icon-materials.png') 213px 30px no-repeat #f6b22d;
}

.category .tool {
	background: url('../img/icon-tool.png') 195px 30px no-repeat #4aafde;
}

.category .technic {
	background: url('../img/icon-technic.png') 191px 30px no-repeat #cc79d1;
	margin-right: 0;
}

.category .slider {
	position: relative;
	float: left;
	margin-right: 20px;
}

.category .slides-wrappers {
	position: relative;
	width: 620px;
	height: 266px;
}

/*.category .slides {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.category .slide-active {
	opacity: 1;
	pointer-events: painted;
	-webkit-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	transition: opacity 1s ease;
}

.category .hammers {
	background-image: url("../img/hamerrs-slide.jpg");
}

.category .drills {
	background-image: url("../img/drills-slides.jpg");
}

.slider .slide-title {
	background-color: rgba(0, 0, 0, 0.25);
}

.slide-title .slide-header {
	text-transform: uppercase;
	font-size: 36px;
	padding-top: 20px;
	padding-left: 22px;
}

.slide-title span {
	display: block;
	margin-left: 25px;
	color: #ffffff;
	font-size: 18px;
	padding-bottom: 25px;
}

.slider .slides-btn {
	margin-left: 25px;
	margin-top: 100px;
	padding-left: 45px;
	padding-right: 45px;
}

.slider .slider-buttons {
	position: absolute;
	width: 100%;
	top: 41%;
	left: 0;
	z-index: 3;
}

.slider .slider-button {
	width: 60px;
	height: 60px;
	background: rgba(0, 0, 0, 0);
	position: relative;
	border: none;
}

.slider .slider-button-left {
	float: left;
}

.slider .slider-button-right {
	float: right;
}

.slider .slider-button-left::before {
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	left: 30px;
	top: 10px;
	border: 3px solid #ffffff;
	border-right: none;
	border-top: none;
	transform: rotate(45deg);
}

.slider .slider-button-right::after {
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	right: 30px;
	top: 10px;
	border: 3px solid #ffffff;
	border-left: none;
	border-bottom: none;
	transform: rotate(45deg);
}

.slider .slider-points {
	position: absolute;
	bottom: 35px;
	left: 50%;
	text-align: center;
	font-size: 0;
	z-index: 3;
}

.slider-points .slider-point-left,
.slider-points .slider-point-right {
	display: inline-block;
	margin-right: 10px;
	font-size: 13px;
	background: #ffffff;
	border: none;
	border-radius: 50%;
	padding: 6px;
}

.slider-points .active {
	box-shadow: inset 0 0 0 3px #ffffff;
	background-color: #ee3643;
}*/

/**/

.category .sale {
	background: url('../img/icon-sale.png') 196px 30px no-repeat #85d179;
	margin-right: 0;
}

.category .shipping {
	background: url('../img/icon-shipping.png') 191px 30px no-repeat #f6b22d;
	margin-right: 0;
	margin-bottom: 0;
}

.goods {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.goods h3,
.manufacturers h3 {
	margin-top: 28px;
	margin-bottom: 28px;
	margin-left: 25px;
}

.popular .btn {
	margin-top: 25px;
	margin-right: 24px;
}

.goods .btn {
	padding-left: 51px;
	padding-right: 51px;
}

.popular {
	background-color: #f7f3ec;
	margin-bottom: 20px;
}

.popular h3 {
	float: left;
}

.popular a {
	float: right;
}

.goods .products article {
	position: relative;
	overflow: hidden;
}

.goods .products article:not(:last-child) {
	margin-right: 20px;
}

.manufacturers {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 80px;
}

.manufacturers .btn {
	padding-left: 66px;
	padding-right: 66px;
}

.manufacturers-logo li {
	float: left;
	position: relative;
}

.manufacturers-logo li:not(:nth-child(4n)) {
	margin-right: 20px;
}

.manufacturers-logo li:nth-child(-n+4) {
	margin-bottom: 20px;
}

.manufacturers-logo a {
	display: inline-block;
	width: 220px;
	height: 145px;
	text-align: center;
	border: 1px solid #e5e5e5;
}

.manufacturers-logo a:hover {
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
	transition: box-shadow 0.2s linear;
}

.manufacturers-logo a:active {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	opacity: 0.5;
}

.manufacturers-logo img {
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.services-section {
	background-color: #f2f6f8;
}

.services {
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 63px;
}

.services p {
	line-height: 2;
	font-size: 13px;
}

.services h2 {
	margin-bottom: 23px;
}

.services h3 {
	font-size: 36px;
	margin-bottom: 15px;
}

.services .tabs {
	margin-top: 64px;
	position: relative;
}

.tabs .tabs-labels {
	float: left;
}

.tabs .tabs-labels::after {
	content:'';
	display: block;
	position: absolute;
	width: 10px;
	height: 272px;
	left: 230px;
	bottom: -240px;
	background: url('../img/shadow.png');
}

.tabs .tabs-inner {
	float: left;
}

.tabs .tabs-inner .tab {
	position: relative;
}

.tabs .tabs-labels label {
	display: block;
	background-color: #32425c;
	color: #ffffff;
	padding: 18px 140px 18px 23px;
	border-top: 1px solid #405069;
	border-bottom: 1px solid #32425c;
	font-family: 'cuprumbold', 'Arial', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 21px;
}

.tabs [type="radio"] {
	display: none;
}

.tabs #tab-delivery:checked ~ .tabs-labels [for="tab-delivery"],
.tabs #tab-garanty:checked ~ .tabs-labels .label-garanty,
.tabs #tab-credit:checked ~ .tabs-labels .label-credit {
	background-color: #ffffff;
	color: #32425c;
	border-top: none;
	border-bottom: none;
}

.tabs-inner .tab .content-tab {
	width: 620px;
	height: 288px;
	margin-left: 80px;
	display: none;
}

.tabs-inner .tab .delivery {
	background: url('../img/delivery.png') no-repeat right;
}

.tabs-inner .tab .garanty {
	background: url('../img/garanty.png') no-repeat right;
}

.tabs-inner .tab .credit {
	background: url('../img/credit.png') no-repeat right;
}

.tabs #tab-delivery:checked ~ .tabs-inner .delivery {
	display: block;
}

.tabs #tab-garanty:checked ~ .tabs-inner .garanty {
	display: block;
}

.tabs #tab-credit:checked ~ .tabs-inner .credit {
	display: block;
}

.tabs-inner .btn-credit {
	width: 195px;
	height: 38px;
	padding-top: 0;
	margin-top: 30px;
}

.company {
	padding-top: 76px;
	padding-bottom: 84px;
	font-size: 13px;
}

.company h2 {
	margin-bottom: 25px;
}

.company p {
	line-height: 2;
}

.company-description {
	float: left;
	width: 540px;
	margin-right: 100px;
	margin-left: 10px;
}

.company-description .first-article {
	margin-bottom: 18px;
}

.company-description .list {
	font-size: 18px;
	font-family: 'cuprum', 'Arial', sans-serif;
	font-weight: normal;
	font-weight: 400;
	line-height: 2;
	margin-bottom: 33px;
	position: relative;
	margin-top: 15px;
}

.company-description .list li {
	padding-left: 36px;
}

.company-description .list li::before {
	content: '';
	position: absolute;
	display: block;
	width: 25px;
	height: 2px;
	background-color: #fb565a;
	margin-bottom: 9px;
	margin-top: 15px;
	left: 0; 
}

.company-description .btn {
	padding-left: 36px;
	padding-right: 36px;
}

.contacts {
	float: right;
	width: 300px;
	margin-right: 10px;
}

.contacts .map {
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 35px;
}

.contacts .btn {
	padding-left: 56px;
	padding-right: 56px;
}

/*catalog.html*/
.breadcrumb {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 18px;
	padding: 0;
	margin-top: 24px;
	font-size: 10px;
}

.breadcrumb li {
	display: inline-block;
	margin-right: 10px;
	text-align: center;
}

.breadcrumb a {
	display: inline-block;
	color: #000000;
	vertical-align: top;
	text-transform: uppercase;
}

.breadcrumb li:not(:first-child) a::before {
	content: '';
	display: inline-block;
	width: 9px;
	height: 9px;
	color: #000000;
	opacity: 0.5;
	border-right: 1px solid;
	border-bottom: 1px solid;
	transform: rotate(-45deg);
	margin-right: 19px;
}

.breadcrumb li:last-child a {
	pointer-events: none;
	font-weight: 700;
}

.breadcrumb li:first-child a {
	width: 20px;
	height: 20px;
	background: url('../img/icon-home.png');
	background-repeat: no-repeat;
}

.breadcrumb li:not(:last-child) a:hover {
	text-decoration: underline;
	opacity: 0.5;
	transition: all 0.2s linear;
}

.products-catalog h2 {
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 30px;
	color: #4c5a71;
	background-color: #f2f6f8;
	padding-top: 27px;
	padding-bottom: 27px;
	margin-bottom: 20px;
}

.filters {
	float: left;
	width: 220px;
	margin-right: 20px;
	margin-left: 10px;
}

.main-section .filters-sorting {
	font-size: 13px;
	text-transform: uppercase;
	color: #63615e;
	padding-top: 11px;
	padding-bottom: 11px;
	padding-left: 19px;
	background-color: #f7f3ec;
	margin-bottom: 20px;
}

.filters .filters-other {
	color: #000000;
	text-transform: uppercase;
	margin-bottom: 24px;
}

.filters .filters-manufacturers [type=checkbox] {
	display: none;
}

.filters .filters-accumulator [type=radio] {
	display: none;
}

.filters h3 {
	font-family: 'ptsansbold', 'Arial', sans-serif;
	font-weight: normal;
	font-weight: 700;
	font-size: 17px;
	margin-bottom: 17px;
}

.filters-price .bar {
	width: 220px;
	height: 80px;
	background-color: #f7f3ec;
	padding: 39px 20px;
	margin-bottom: 10px;
}

.filters-price .bar-line {
	height: 2px;
	background-color: #aaa;
}

.filters-price .bar-line-active {
	position: relative;
	height: 2px;
	background-color: #00ca74;
	width: 100%;
	z-index: 1;
}

.filters-price .bar-line-btn {
	position: absolute;
	width: 2px;
	height: 2px;
	border-radius: 50%;
	border: none;
	background-color: #d7dcde;
	padding: 0;
	top: 0;
}

.filters-price .bar-line-btn::before {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #ffffff;
	border-radius: 50%;
	left: 1px;
	top: 1px;
	margin-left: -10px;
	margin-top: -10px;
	box-shadow: 0 3px 3px -1px rgba(0,0,0,.3);
	z-index: -1;
}

.filters-price .bar-line-btn:first-child {
	left: 9px;
}

.filters-price .bar-line-btn:last-child {
	right: -16px;
}

.input-selectuion .price-field {
	display: inline-block;
	width: 95px;
	height: 38px;
	border: none;
	background-color: #f7f3ec;
	font-size: 17px;
	text-align: center;
}

.input-selectuion .dash {
	margin-right: 2px;
	margin-left: 2px;
}

.filters .filters-manufacturers {
	border-top: 1px #e5e5e5 solid;
	border-bottom: 1px #e5e5e5 solid;
}

.filters-manufacturers h3 {
	margin-top: 21px;
}

.filters-manufacturers .manufacturer li {
	margin-bottom: 13px;
	font-size: 15px;
}

.manufacturer label::before {
	content: '';
	display: inline-block;
	width: 27px;
	height: 23px;
	background: url('../img/icon-check-radio.png') -10px -10px;
	background-repeat: no-repeat;
	margin-right: 8px;
	vertical-align: middle;
	margin-bottom: 4px; 
}

.manufacturer [type=checkbox]:checked ~ label::before {
	background: url('../img/icon-check-radio.png') -10px -53px;
}

.filters-accumulator .accumulator-list li {
	margin-bottom: 10px;
	font-size: 14px;
}

.accumulator-list label::before {
	content: '';
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url('../img/icon-check-radio.png') -10px -96px;
	background-repeat: no-repeat;
	margin-right: 8px;
	vertical-align: middle;
	margin-bottom: 4px; 
}

.accumulator-list [type=radio]:checked ~ label::before {
	background: url('../img/icon-check-radio.png') -10px -141px;
}

.catalog-btn {
	border: 1px #e5e5e5 solid;
	font-size: 13px;
	color: #000000;
	background-color: #ffffff;
	text-align: center;
	border-radius: 5%;
	text-transform: uppercase;
}

.catalog-btn:hover {
	background-color: #ffffff;
	border-color: #bdc6ca;
	transition: all 0.2s linear;
}

.catalog-btn:active {
	background-color: #ffffff;
	border-color: #ee3643;
}

.filters .button-show {
	padding: 10px 39px;
}

.filters .button-show {
	margin-top: 51px;
}

.catalog {
	float: right;
	width: 700px;
	margin-right: 10px;
}

.filters-sorting .sort-title {
	float: left;
	margin-right: 130px;
}

.filters-sorting .sorting-type {
	float: left;
}

.filters-sorting .sorting-up-down {
	float: right;
}

.filters-sorting li {
	display: inline-block;
	padding: 0;
	margin: 0;
}

.sorting-type li:not(:last-child) {
	padding-right: 62px;
}

.sorting-up-down li {
	padding-right: 17px;
}

.filters-sorting input {
	display: none;
}

.filters-sorting label {
	display: inline-block;
	vertical-align: middle;
	color: #000000;
	opacity: 0.5;
	text-decoration: underline dotted #ee3643;
}

.sorting-up-down .sort-up {
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 10px solid;
}

.sorting-up-down .sort-down {
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 10px solid;
}

.filters-sorting label:hover {
	opacity: 1;
	text-decoration: underline solid #ee3643;
	transition: all 0.2s linear;
}

.filters-sorting [type=radio]:checked ~ label {
	opacity: 1;
	text-decoration: none;
	color: #ee3643;
}

.products article {
	float: left;
	width: 220px;
	height: 318px;
	text-align: center;
	border: 1px #e5e5e5 solid;
	position: relative;
	overflow: hidden;
}

.catalog .products article {
	margin-right: 20px;
	margin-bottom: 20px;
}

.catalog .products article:nth-child(3n) {
	margin-right: 0px;
}

.products .drill-photo, .drill-hover {
	height: 140px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.products article:hover {
	box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
	transition: box-shadow 0.2s linear;
}

.products article:hover .drill-photo {
	display: none;
}

.products article:hover .drill-hover {
	display: inline-block;
}

.products .drill-hover .defer {
	display: inline-block;
	border-radius: 5%;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 25px;
	border: none;
	text-align: center;
	position: relative;
}

.products .drill-hover .buy {
	color: #ffffff;
	background-color: #63a63e;
	box-shadow: 0 5px 0 #367315;
	padding: 7px 40px;
}

.products .drill-hover .buy::before {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	left: 12px;
	top: 11px;
	position: absolute;
	background: url('../img/icon-basket.png');
	background-repeat: no-repeat;
	opacity: 0.5;
}

.products .drill-hover .buy:hover {
	background-color: #5fbb2d;
	transition: all 0.2s linear;
}

.products .drill-hover .buy:hover:before {
	opacity: 1;
	transition: all 0.2s linear;
}

.products .drill-hover .buy:active {
	background-color: #518534;
	box-shadow: 0 5px 0 #518534;
}

.products .drill-hover .buy:active:before {
	opacity: 1;
}

.products .drill-hover .bookmark {
	color: #000000;
	background-color: #ffffff;
	border: 3px #63a63e solid;
	margin-top: 13px;
	padding: 7px 21px;
}

.products .drill-hover .bookmark:hover {
	border-color: #32425c;
	color: #32425c;
	transition: all 0.2s linear;
}

.products .drill-hover .bookmark:active {
	opacity: 0.5;
}

.products h4 {
	margin-bottom: 10px;
	font-family: 'ptsansbold', 'Arial', sans-serif;
	font-weight: normal;
	font-weight: 700;
	font-size: 16px;
}

.products .old-price {
	display: block;
	margin-bottom: 8px;
	font-family: 'ptsansbold', 'Arial', sans-serif;
	font-weight: normal;
	font-weight: 700;
	font-size: 17px;
	color: #999999;
	text-decoration: line-through;
}

.products .new-price {
	display: block;
	position: relative;
	width: 122px;
	height: 38px;
	background-color: #ee3643;
	font-family: 'ptsansbold', 'Arial', sans-serif;
	font-weight: normal;
	font-weight: 700;
	font-size: 17px;
	color: #ffffff;
	margin-left: 42px;
	padding-top: 8px;
	padding-left: 15px;
	border-radius: 5px 0 0 5px;
}

.products .new-price::after {
	content: '';
	position: absolute;
	left: 122px;
	bottom: 0px;
	border: 19px solid transparent;
	border-left: 18px solid #ee3643;
}

.catalog .catalog-page {
	margin-bottom: 60px;
	margin-top: 32px;
}

.catalog .catalog-page li {
	display: inline-block;
	margin-right: 6px;
}

.catalog .catalog-page a {
	display: inline-block;
	font-size: 13px;
	color: #000000; 
	padding: 10px 15px;
}

.catalog-page li:last-child a {
	padding: 10px 31px;
}

.catalog-page .active-page {
	background-color: #ee3643;
	border: none;
	pointer-events: none;
	color: #ffffff;
}

.drills-description {
	background-color: #f2f6f8;
}

.drills-description h2 {
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 64px;
	margin-bottom: 20px;
	font-size: 30px;
}

.drills-description .description {
	margin-left: 10px;
	margin-right: 10px;
	padding: 0;
	padding-bottom: 65px;
	font-size: 13px;
}

.drills-description .description p {
	line-height: 2;
}

.close {
	border: none;
	width: 23px;
	height: 23px;
	background-color: rgba(255, 255, 255, 0);
	transform: rotate(45deg);
}

.write-us-modal .close {
	margin-left: 590px;
	position: absolute;
}

.modal-map .close {
	margin-left: 910px;
	position: absolute;
}

.close:before {
	content: "";
	height: 23px; 
	width: 5px;
	background: #ee3643;
	position: absolute; 
	bottom: 0px;
	left: 9px;
}

.close:after {
	content: "";
	height: 5px;
	width: 23px;
	background: #ee3643;
	position: absolute;
	left: 0px;
	bottom: 9px;
}

.modal-map {
	position: fixed;
	width: 940px;
	height: 446px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	box-shadow: 0px 20px 40px 0px rgba(0, 1, 1, 0.75);
	opacity: 0;
	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	transition: opacity 1s ease;
	pointer-events: none;
}

.modal-map-visible {
	opacity: 1;
	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	transition: opacity 1s ease;
	transition: opacity 1s ease;
	pointer-events: visible;
}

.write-us-modal {
	position: fixed;
	width: 620px;
	height: 430px;
	border-top: 7px solid #ee3643;
	background-color: #ffffff;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	box-shadow: 0px 20px 40px 0px rgba(0, 1, 1, 0.75);
	opacity: 0;
	pointer-events: none;
	z-index: 10;
	-webkit-transition: opacity 1s ease, z-index 0s linear 1s;
	-moz-transition: opacity 1s ease, z-index 0s linear 1s;
	transition: opacity 1s ease, z-index 0s linear 1s;
}

.write-us-modal-visible {
	opacity: 1;
	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	transition: opacity 1s ease;
	transition: opacity 1s ease;
	pointer-events: visible;
}

.write-us-form .container-modal {
	width: 460px;
	margin: 0 auto;
	margin-top: 48px;
}

.user-information .user-name {
	float: left;
	width: 220px;
	margin-right: 20px;
}

.user-information .user-mail {
	float: right;
	width: 220px;
}

.user-information {
	margin-bottom: 22px;
}

.write-us-form label {
	font-size: 18px;
	font-family: 'cuprum', 'Arial', sans-serif;
	font-weight: normal;
	font-weight: 400;
}

.write-us-form input, textarea {
	font-size: 13px;
	opacity: 0.5;
	margin-top: 13px;
	border: 2px solid rgb(0, 0, 0, 0.5);
	border-radius: 3px;
	padding: 0;
	width: 100%;
}

.write-us-form input {
	height: 34px;
}

.write-us-form textarea {
	height: 114px;
}

.write-us-form .input-error {
	border-color: red;
	border-width: 3px;
}


.write-us-form .form-button {
	background-color: #f1f1f1;
	margin-top: 37px;
}

.write-us-form .form-button .btn {
	width: 100%;
	height: 38px;
	margin-top: 38px;
	margin-bottom: 38px;
	padding-top: 0;
}

.form-data span {
	visibility: hidden;
	color: red;
	font-size: 12px;
	margin-top: 5px;
}

.form-data .span-visible {
	visibility: visible;
}

/* футер страницы */
.main-footer {
	min-width: 960px;
	color: #f1f5f7;
	font-family: 'cuprum', 'Arial', sans-serif;
	font-weight: normal;
	font-weight: 400;
}

.footer-up {
	background-color: #32425c;
}

.footer-up .logo {
	font-size: 30px;
	padding: 14px 41px;
}

.footer-up-left {
	float: left;
	margin-left: 10px;
}

.footer-up-left address {
	margin-top: 35px;
	margin-bottom: 53px;
	font-size: 18px;
	font-style: normal;
}

.footer-up-right {
	float: right;
	margin-right: 10px;
	width: 550px;
	font-size: 0;
	margin-top: 39px;
}

.footer-up-right .navigation-main {
	margin-bottom: 37px;
}

.footer-up-right .navigation-main li {
	display: inline-block;
	font-size: 18px;
}

.footer-up-right .navigation-main li:not(:last-child) {
	margin-right: 57px;
}

.footer-up-right .navigation-main a {
	display: inline-block;
}

.footer-up-right .navigation-catalog li {
	display: inline-block;
	font-size: 18px;
}

.footer-up-right .navigation-catalog a {
	display: inline-block;
	color: #ffd180;
}

.footer-up-right .navigation-catalog li:not(:first-child) {
	margin-left: 56px;
}

.footer-up-right .navigation-catalog li:first-child {
	margin-left: 27px;
}

.footer-up-right a:hover {
	text-decoration: underline;
	transition: all 0.2s linear;
}

.footer-up-right a:active {
	text-decoration: none;
	opacity: 0.5;
}

.footer-down {
	background-color: #293449;
	padding-top: 37px;
	padding-bottom: 33px;
}

.footer-down .footer-copyright {
	float: left;
	margin-left: 10px;
	width: 240px;
	margin-right: 150px;
}

.footer-down .footer-copyright p {
	margin: 0;
	font-size: 16px;
}

.footer-down .social {
	float: left;
	padding: 0;
	width: 150px;
	margin-right: 100px;
}

.footer-down .social li {
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.footer-down .social li:not(:last-child) {
	margin-right: 6px;
}

.footer-down .social .btn-social {
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.footer-down .social .social-item-vk {
	background: url('../img/icon-vk.png') #212a3a; 
	background-repeat: no-repeat;
	background-position: 10px 15px;
}

.footer-down .social .social-item-fb {
	background: url('../img/icon-facebook.png') #212a3a; 
	background-repeat: no-repeat;
	background-position: 14px 10px;
}

.footer-down .social .social-item-ig {
	background: url('../img/icon-instagramm.png') #212a3a; 
	background-repeat: no-repeat;
	background-position: 12px 10px;
}

.footer-down .social .social-item-vk:hover {
	background-color: #ee3643;
	transition: all 0.2s linear;
}

.footer-down .social .social-item-fb:hover {
	background-color: #ee3643;
	transition: all 0.2s linear;
}

.footer-down .social .social-item-ig:hover {
	background-color: #ee3643;
	transition: all 0.2s linear;
}

.footer-down .feedback {
	float: left;
	width: 140px;
	margin-right: 38px;
}

.footer-down .feedback a {
	color: #ffd180;
}

.footer-down .developed {
	float: right;
	width: 112px;
	margin-right: 10px;
}

.footer-down .developed a {
	color: #ffd180;
}

.footer-down .feedback a:hover {
	text-decoration: underline;
	transition: all 0.2s linear;
}

.footer-down .feedback a:active {
	text-decoration: none;
	color: #c73644;
}

.footer-down .developed a:hover {
	text-decoration: underline;
	transition: all 0.2s linear;
}

.footer-down .developed a:active {
	text-decoration: none;
	color: #c73644;
}

